body{
    background-color: #FFA16C;
}

.menu{
    color: #FFA16C;
    text-shadow: 2px 2px 15px #E9E9E9;
}

.main-container{
    display: flex;
}

.leftbar{
    background-color: #FFFFFF;
    display: inline-block;
    height: 650px;
    width: 150px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px black;
    margin: auto;
}

.logo{
    width: 70px;
    height: 70px;
    margin: auto;
    display: flex;
    margin-top: 20px;
    cursor: pointer;
}

.linkcontainer{
    display: grid;
    grid-gap: 50px;
    justify-content: center;
    margin-top: 100px;
    
}

a{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

a:hover {
    text-decoration: underline; 
    color:#FFA16C;
}

.rightbar{
    display: inline-block;
    height: 650px;
}

.topbar{
    height: 70px;
    width: 1210px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    background-color: #FFFFFF;
    margin-bottom: 12px;
    box-shadow: 0px 2px 5px black
}

.booking{
    height: 30px;
    width: 100px;
    border-radius: 5px;
    border: none;
    background-color: #FFA16C;
    color: #FFFFFF;
    cursor: pointer;
}

.booking:hover{
    background-color: #ff9557;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: #F1F1F1;
    border-radius: 15px 15px 15px 15px;
    
}

.icon-container{
    background-color: #F1F1F1;
    height: 39px;
    width: 35px;
    border-radius: 15px 0 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search{
    border-right: none;
    width: 230px;
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: #F1F1F1;
    outline: none;
    border-radius: 0 15px 15px 0;
}

.search-button{
    width: 110px;
    border-radius: 15px 15px 15px 15px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
     border: none;
     color: #FFFFFF;
     background-color: #FFA16C;
}

.search-button:hover{
    background-color: #ff9557;
}

.cart{
    height: 30px;
    width: 100px;
    border-radius: 5px;
    border: none;
    background-color: #3C3C3C;
    color: #FFFFFF;
    cursor: pointer;
}

.language{
    height: 30px;
    width: 80px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: 0;
}

.language:hover{
    background-color: #3C3C3C;
    color: #FFFFFF;
}

.profile{
    height: 30px;
    width: 200px;
    border-radius: 5px;
    border: solid 1px #3C3C3C;
    color: #3C3C3C;
    cursor: pointer;
    background-color: #FFFFFF;
}

.profile:hover{
    background-color: #3C3C3C;
    color: #FFFFFF;
}

.bottombar{
    background-color: #F1F1F1;
    border-radius: 10px;
    box-shadow: 0px 2px 5px black;
    height: 570px;
}

.btncontainer{
    padding-top: 25px;
    height: 65px;
    width: 1210px;
    display: flex;
    justify-content: space-around;
}

.topbtn{
    cursor: pointer;
    width: 90px;
   height: 35px;
   border-radius: 13px;
   background-color: #FFFFFF;
   border: #C9C9C9 solid 1px;
}

.here{
    background-color: #3C3C3C;
    color: #FFFFFF;
}

.topbtn:hover{
    background-color: #3C3C3C;
    color: #FFFFFF;
}

.items{
    display: grid;
    grid-template-columns: repeat(3, 320px);
    grid-gap: 20px;
    justify-content: center;
}

.items-container{
    background-color: #FFFFFF;
    height: 180px;
    width: 270px;
    display: flex;
    border-radius: 15px;
    padding: 15px;
}

.lefti{
    width: 50%;
    display: grid;
    justify-content: center;
    margin: 0;
}

.bakerycontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 90px;
    border-radius: 7px;
    background-color: #F1F1F1;
    margin: 0px;
}

.bakery{
    height: 43px;
    width: 60px;
}

.sizecontainer{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 25px;
    margin: 0;
    padding: 0;
}

.size{
    font-size: x-small;
    font-family: Arial, Helvetica, sans-serif;
}

.numberbtn{
    display: flex;
    justify-content: space-around;
   height: 23px;
   margin: 0;
   padding: 0;
}

.lrbtn{
    color: #FFFFFF;
    background-color:#3C3C3C;
    width: 23px;
    height: 23px;
    border: none;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.arrowicon{
    
}

.righti{
    width: 50%;
    
}

.bakeryc{
    font-size: 90%;
    font-family: 'Arial', sans-serif; 
    color: #001822;
    font-weight: bold; 
    margin: 0;
}

.price{
    font-family: 'Arial', sans-serif; 
    color:#FFA16C; 
    font-weight: bold; 
    margin: 3px;
}

.flavour{
    font-size: 73%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.addcart{
    font-size:x-small;
    margin-top: 32px;
    background-color: #FFA16C;
    border-radius: 5px;
    width: 120px;
    border: none;
    height: 23px;
    color: #FFFFFF;
    cursor: pointer;
}

.addcart:hover{
    background-color: #ff9557;
}