body{
    background-color: #FFA16C;
}

.main-container{
    display: flex;
}

.leftbar{
    background-color: #FFFFFF;
    display: inline-block;
    height: 650px;
    width: 150px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px black;
    margin: auto;
}

.logo{
    width: 70px;
    height: 70px;
    margin: auto;
    display: flex;
    margin-top: 20px;
}

.linkcontainer{
    display: grid;
    grid-gap: 50px;
    justify-content: center;
    margin-top: 100px;
    
}

a{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

a:hover {
    text-decoration: underline; 
    color: #FFA16C;
}

.rightbar{
    display: inline-block;
    height: 650px;
}

.topbar{
    height: 70px;
    width: 1210px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    background-color: #FFFFFF;
    margin-bottom: 12px;
    box-shadow: 0px 2px 5px black
}

.booking{
    height: 30px;
    width: 100px;
    border-radius: 5px;
    border: none;
    background-color: #FFA16C;
    color: #FFFFFF;
    cursor: pointer;
}

.book{
    margin: 4px;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: #F1F1F1;
    border-radius: 15px 15px 15px 15px;
    
}

.icon-container{
    background-color: #F1F1F1;
    height: 39px;
    width: 35px;
    border-radius: 15px 0 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search{
    border-right: none;
    width: 230px;
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: #F1F1F1;
    outline: none;
    border-radius: 0 15px 15px 0;
}

.search-button{
    width: 110px;
    border-radius: 15px 15px 15px 15px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
     border: none;
     color: #FFFFFF;
     background-color: #FFA16C;
}

.search-button:hover{
    background-color: #ff9557;
}

.cart{
    height: 30px;
    width: 100px;
    border-radius: 5px;
    border: none;
    background-color: #3C3C3C;
    color: #FFFFFF;
    cursor: pointer;
}

.language{
    height: 30px;
    width: 80px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.profile{
    height: 30px;
    width: 200px;
    border-radius: 5px;
    border: solid 1px #3C3C3C;
    color: #3C3C3C;
    cursor: pointer;
    background-color: #FFFFFF;
}

.bottombar{
    background-color: #F1F1F1;
    border-radius: 10px;
    box-shadow: 0px 2px 5px black;
    height: 570px;
    display: flex;
    flex-direction: row;
}

.main-hero{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.hero{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 490px;
    height: 170px;
    border-radius: 20px;
    padding: 50px 40px 50px 40px;
    gap: 30px;
    margin: 20px;
}

.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.left p{
    font-weight: bold;
    font-size: 15px;
}


.top-left img{
    width: 120px;
    height: 120px;
}

.bottom-left p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #FFA16C;
}

.middle{
    margin: 0;
    padding: 0;
    gap: 0;
}

.top-middle p{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
}

.location-input{
    border-radius: 4px;
    padding: 3px;
    width: 135px;
    border: none;
    outline: none;
    background-color: #f1f1f1;
    font-size: 12px;
    padding: 7px;
}

.middle-middle{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
}

.bottom-middle{
    display: flex;
    flex-direction: row;
}

p{
    margin: 11px 0px 11px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

/* .options{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 0%;
    left: 50%;
} */

.options{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-left: 5px;
}

input[type="radio"]{
    display: none;
}

label{
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    border: 2px solid#3C3C3C;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 42px;
}

/* label:before{
    content: "";
    height: 30px;
    width: 30px;
    border: 3px solid#01cc65;
    border-radius: 50%;
    margin-right: 20px;
} */

input[type="radio"]:checked + label{
    background-color: #3C3C3C;
    color: white;
}

/* input[type="radio"]:checked + label:before{
    height: 16px;
    width: 16px;
    border: 10px solid white;
    background-color: #01cc65;
} */

.right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    gap: 150px;
}

.btn1{
    border-radius: 50px;
    border: #3C3C3C;
    cursor: pointer;
    background-color: #3C3C3C;
    color: white;
}

.btn{
    height: 30px;
    width: 70px;
    border-radius: 5px;
    border: none;
    background-color: #FFA16C;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 8px;
}


.payment-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 2px 3px 1px 1px #bdbdbd;

}

.methods{
    display: flex;
    flex-direction: column;
}

.top-payment{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    margin: 7px 55px 7px 55px;
    padding: 0 20px 0 20px;
    border-radius: 7px;
    border-width: 0px;
    box-shadow: 2px 3px 1px 1px #bdbdbd;
    cursor: pointer;
    background-color: #ffffff;
}

.credit-card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 280px;
    margin: 7px 55px 7px 55px;
    border-radius: 7px;
    padding: 0 0 0 20px;
    border-width: 0px;
    box-shadow: 2px 3px 2px 3px #bdbdbd;
    cursor: pointer;
    background-color: #ffffff;
}

.card-number{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
}

.master-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 235px;
    height: 30px;
    padding: 0px 10px 0px 10px;
    box-shadow: 2px 3px 1px 1px #bdbdbd;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 7px;
}

.master-card p{
    color: #FFA16C;
}

.mm-yy{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 30px;
    padding: 0px 10px 0px 10px;
    box-shadow: 2px 3px 1px 1px #bdbdbd;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 7px;
}

.mm-yy p{
    color: #FFA16C;
}

.bottom-holder{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 55px;
    margin: 3px 0 25px 0 ;
}

.end{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.end input{
    background-color: #ffffff;
    box-shadow: 2px 3px 1px 1px #bdbdbd;
    cursor: pointer;
}

.btn2{
    border-radius: 5px;
    border: none;
    background-color: #FFA16C;
    color: #FFFFFF;
    cursor: pointer;
    padding: 10px;
    margin-bottom: 20px;
}

.bot-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}